.app{
    height:99vh;
    display:flex;
    flex-direction:column;
    transition: right 0.25s ease, width 0.25s ease;
    background-color: white;
}

.header{
    height: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: white;
    z-index: 1000;     
    flex-shrink: 0;
}

.logo {
    position:absolute;
    top: 20px;
}

.sign-out{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top:20px; 
}

.sign-out .icon-hover{
    display: none;
}

.sign-out:hover .icon-default{
    display: none;
}

.sign-out:hover .icon-hover{
    display: inline;
}

.sidebar-btn{
    position:absolute;
    left:20px;
    top: 20px;
    z-index: 1101;
}

.sidebar-btn.open{
    right: -75%;
}

.h2{
    color: #BBB7AB;
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-menu{
    margin-top: 100px;
    margin-left: 20px;
    width: 75vw;
}

.new-chat{
    padding: 15px;
    padding-left: 0px;
    padding-bottom: 6px;
    border-radius: 0px 0px 12px 12px;
}

.new-chat:hover{
    background-color: #BBB7AB;
}

.new-chat button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #473224;
}

.chat-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto; 
    margin-bottom: 70px; 
}

.empty-chat{
    font-size:clamp(20px,4vw,36px);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-wrapper{
    left: 50%;
    transform: translateX(-50%);
}

.messages{
    display:flex;
    flex-direction:column;
    gap:50px;
    width: min(900px, 85%);
    margin-top: auto;
}

.user{
    align-self:flex-end;
    background: #BBB7AB;
    padding:15px;
    border-radius: 0px 0px 12px 12px;
}

.assistant{
    align-self:flex-start;
    background: white;
    padding:15px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 247, 246, 0.80);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(7px);
    width: 85vw;
    z-index: 1001;
    transition:left 0.25s ease;
    pointer-events: none;
}

.sidebar-content{
    display:flex;
    flex-direction:column;
    flex:1;
    min-height:0;
}

.sidebar.open{
    left: 0;
    pointer-events: auto;
}

.chat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 6px;
    border-radius: 0px 0px 12px 12px;
}

.chat:hover,
.chat.active {
    background-color: #BBB7AB;
}

.chats{
    width: 75vw;
    margin-left: 20px;
    overflow-y: auto;
    flex:1;
    min-height:0;
}

.send{
    background-color: #473224;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.actions-container{
    width: 250px;
    background-color: white;
    padding: 10px;
    height: 26px;
    border-radius: 12px;
    position: fixed;
    right: 25px;
    margin-top: 40px;
    border: solid 1px #BBB7AB;
}

.actions-container button{
    color: #EA3323;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

@media(min-width: 900px){

    .app.open {
        width: 75%;
        position: fixed;
        right: 0;
    }

    .app.open .header {
        background-color: white; 
    }

    .app.open .logo {
        right: 50px;
    }

    .input-wrapper.open {
    left: 62.5%;  
    transform: translateX(-50%);
    }

    .empty-chat.open{
        left: 62.5%;  
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .messages.open{
        width: min(85%, 90%);
    }

    .sidebar {
        width: 25vw;
    }

    .chats {
        width: 23vw;
    }

    .chat-menu{
        width: 23vw;
    }

    .actions-container{
        width: 13vw;
        left: 85%;
    }

}
