
<div class="app" [class.open]="opened">
    <div class="header" [class.open]="opened">
        <button type="button" title="sidebar" class="bt-t sidebar-btn" *ngIf="opened==false">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#473224"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h320v-560H200v560Zm560 0v-560H600v560h160Z"/></svg>
        </button>

        <div class="brand-font logo-sm logo">The Love Club</div>
    </div>

    <div class="chat-container" #messagesContainer>
        <div class="brand-font empty-chat" *ngIf="chat.length==0">
            Need some relationship advice?
        </div>
        <div class="messages" *ngIf="chat.length > 0" [class.open]="opened">
            <div 
                *ngFor="let msg of chat" 
                [class.user]="msg.role === 'user'" 
                [class.agent]="msg.role === 'agent'"
            >
                {{ msg.text }}
            </div>
        </div>
    </div>

    <div class="input-wrapper" [class.open]="opened">
        <div contenteditable="true" class="input" data-placeholder="Ask anything"></div>
        <button type="button" title="send" class="bt-t">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#473224"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
        </button>
    </div>
</div>

<!-- 
<div class="sidebar">

</div> -->
