.app{
    height:99vh;
    display:flex;
    flex-direction:column;    
}

.header{
    height: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: white;
    z-index: 1000;     
    flex-shrink: 0;
}

.logo {
    position:absolute;
    top: 20px;
}

.sidebar-btn{
    position:absolute;
    left:20px;
    top: 20px;
}

.chat-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto; 
    margin-bottom: 70px; 
}

.empty-chat{
    font-size:clamp(20px,4vw,36px);
}

.input-wrapper{
    left: 50%;
    transform: translateX(-50%);
}

.messages{
    display:flex;
    flex-direction:column;
    gap:10px;
    width: min(65%, 90%);
    margin-top: auto;
}

.user{
    align-self:flex-end;
    background: #BBB7AB;
    padding:10px;
    border-radius: 0px 0px 12px 12px;
}

.agent{
    align-self:flex-start;
    background: white;
    padding:10px;
}

@media(min-width: 900px){

.app.open {
    width: 75%;
    position: fixed;
    right: 0;
}

.app.open .header {
    background-color: white; 
}

.app.open .logo {
    right: 50px;
}

.input-wrapper.open {
 left: 62.5%;  
 transform: translateX(-50%);
}

.messages.open{
    width: min(85%, 90%);
}
}